.widget
    .widget-title
        i(class='fa fa-user')= ' ' + __('Music')
    script(type='text/javascript',src='/js/jquery.min.js')
    script(type='text/javascript',src='/js/APlayer.min.js')
    
    #player.aplayer