// Custom styles.
.brand {
  background: none; //修改为自己喜欢的颜色
}
.site-title {
  display: inline-block;
  background: url(../images/title-pic.png) no-repeat;
  width: 182px;
  height: 86px;
}
.site-brand-wrapper {
  height: 86px;
}
